/* Tu CSS va aqui */
/*--------------------header-navbar---------------------------*/
header .navbar {
  width: 100%;
  z-index: 100;
}
.navbar .container{
	position:fixed;
}
.navbar{
	background-color: rgb(255,255,255,0.42);
}
/*--------------------header---------------------------*/
.fondo{
	background:url(../img/header.jpg)no-repeat;
	background-size:cover;
	background-position:center;
}
.navbar{
	border-bottom:1px solid #CCC;
}
header h5,header a{
	color:white;
	margin-bottom:0;
}
header h5{
	margin:0;
}
header ul li{
	margin:0 5px;
	text-decoration:none;
	font-size:11px;
}
header ul{
	text-align:right;
}

.coder{
	text-align:bottom;
	color:white;
	padding:195px;
	text-align:center;
}
.coder h1{
	font-weight:bolder;
}
.separator{
	width:40px;
	border:1px solid #EC7063;
	margin:20px;
}
.conoce_mas{
	border-radius:15px;
	padding:7px 15px;
	font-size:11px;
	color:white;
	background:#EC7063;
	border:1px solid #EC7063;
	margin:15px;
}
/*-----------------------servicios-----------------*/
.info_sobre_mi{
	background:#EC7063;
	padding:50px;
	color:white;
	text-align: center;
}
.info_sobre_mi .separator{
	border:1px solid white;
}
.servicios{
	text-align: center;
	margin:50px;
}
.servicios li{
	margin:0 10px;
}
.servicios p{
	color:#A6ACAF;
}
.images .col-md-4{
	margin:0;
	padding:0;
}
/*-----------------------------github------------*/
.revisa_github{
	background:black;
	color:white;
	text-align:center;
	padding:30px;
}
.github{
	color:black;
	border-radius:15px;
	padding:7px 15px;
	font-size:11px;
	border:1px solid white;
	margin:15px;
}
.images img{
	width:100%;
}
/*----------------------footer----------------*/
footer{
	padding:30px;
}
.servicios img,footer img{
	height:30px;
}
footer li{
	margin:10px 90px;
}
.email{
	color:#EB6A2A;
}
/*-------------------media----------------*/
@media screen and (max-width:640px) {
	.coder{
		padding:20px;
		margin:40px 0;
		width:100%;
	}
	.coder h1{
		font-size:27px;
	}
	.navbar{
		background:white;
	}
	.navbar button{
		color:#848484;
		border:1px solid #CCC;
		padding:6px 9px;
		right:-90%;
	}
	.navbar-brand h5{
		color:#FE2E2E;
		font-weight:bolder;
	}
	.navbar a{
		color:black;
	}
	.navbar-collapse ul{
		background:rgba(30,225,225,0.1);
		position:absolute;
		right:-80%;
	}
}
